<!DOCTYPE html>

<html lang="ro">
    <head>
        <title>Electronet</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- va fi explicat când ajungem la CSS -->
        <meta name="keywords" content="/, circuit, componente electronice"><!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
        <meta name="description" content="Magazinul TAU de electronice!"><!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->
        <%- include("../fragmente/head.ejs") %>
        <link rel="stylesheet" href="/resurse/css/galerie.css">
        <link rel="stylesheet" href="/resurse/css/galerie1000.css" media="screen and (max-width: 1000px)">
        <link rel="stylesheet" href="/resurse/css/galerie700.css" media="screen and (max-width: 700px)">

    </head>
    <body>
        <div class="video-fundal">
            <video playsinline autoplay muted loop id="background-video">
                <source src="/resurse/video/3866849-uhd_3840_2160_25fps.mp4">
                <source src="/resurse/video/3866849-uhd_3840_2160_25fps.mov">
            </video>
        </div>
        <%- include("../fragmente/header.ejs") %>
        <main>
            <h2 id="text-galerie">Galerie</h2>
            <h3 id="text-galerie">Poze cu diverse produse oferite în cadrul magazinului nostru!!!</h3>
        <div id="grid-galerie">
            <%- include("../fragmente/galerie.ejs")%>
        </div>
        </main>
        <%- include("../fragmente/footer.ejs") %>
    </body>    
</html>