#grid-galerie{
    display:grid;
    grid-template-areas: "galerie-statica galerie-statica galerie-statica";
}

#galerie-statica{
    counter-reset: fig;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    gap: 10px;
}

#galerie-statica figure{
    counter-increment: fig;
}

#galerie-statica figcaption::before{
    content: counter(fig, )") ";
}

#celula-galerie:nth-child(6n+1){grid-column: 1;}
#celula-galerie:nth-child(6n+2){grid-column: 3;}

#celula-galerie:nth-child(6n+3){grid-column: 2;}

#celula-galerie:nth-child(6n+4){grid-column: 1;}
#celula-galerie:nth-child(6n+5){grid-column: 3;}

#celula-galerie{
    filter: grayscale(100%);
    transition: .5s ease-in-out;
}

#celula-galerie figcaption{
    text-shadow: 0 0 0 transparent;
    transition: .5s ease-in-out;
}

#celula-galerie:hover{
    filter:grayscale(0);
    transform: rotate(360deg);
    transition: .5s all ease-in-out;
}

