/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */

#grid-pagina{
    display:grid;
    grid-template-areas: "acasa                acasa                acasa"
                         "calendar             tabel                anunturi"
                         "utilizatori-online   tabel                anunturi"
                         "utilizatori-online   utilizator           info-server"
                         "informatii_teoretice informatii_teoretice informatii_teoretice"
                         "produse              produse              produse"
                         "FAQ                  FAQ                  FAQ";

    gap: var(--spatiere-gridplus1000);
    margin-left: var(--spatiere-stanga);
    margin-right: var(--spatiere-dreapta);
}

#grid-pagina > section{
    padding: 50px;
}

#grid-pagina > * >  h2{
    color: var(--culoare-inchisa);
}

#grid-pagina > *{
    align-content: center;
    padding: 20px;
    outline: 4px solid var(--culoare-border-deschisa);
}

#grid-pagina > figure{
    margin: 0;
}

#grid-pagina img{
    width: 100%;
    max-width: 300px;
    min-width: 100px;
}

html{
    font-size: 18px;
}

.doto-font {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

html{
    font-size: 18px;
}



h2{
    font-family: "Doto" sans-serif;
    font-size: 1.6rem;
}
h3{
    font-family: "Doto" sans-serif;
    font-size: 1.3rem;
}

th{
    width: 100px;
    text-align: center;
}

td{
    width: 100px;
    text-align: center;
}

header{
    background-color: #CCCCCC;
    font-size: 30px;
    padding: 20px;
    text-align: center;
    /* border: 5px solid #CCCCCC; */
    font-family: "Doto", sans-serif;
    border-radius: 10px 20px;
}

#arduino_img{
    justify-content: center;
    width: 100%;
    max-width: 500px;
    min-width: 100px;
}

body{
    --spatiere-gridplus1000: 15px;
    --spatiere-grid700: 5px;
    --spatiere-grid1000: 10px;
    --spatiere-stanga: 25px;
    --spatiere-dreapta: 25px;
    --spatiere-pagina: 25px;
    --culoare-inchisa: #9C003F;
    --culoare-deschisa: #F90064;
    --culoare-border-deschisa: #FFB300;
    --culoare-border-inchisa: #004CFF;
    --culoare-background-deschisa: #EEEEEE;
    --culoare-background-inchisa: #CCCCCC;
}


main{
    padding-left: var(--spatiere-pagina);
    padding-right: var(--spatiere-pagina);
    /* background-color: var(--culoare-background-deschisa); */
    border-radius: 20px 20px;
}

h1{
    font-weight: 400;
    font-style: normal;
}
h2{
    font-size: 1.4rem;
}

h3{
    font-size: 1.2rem;
}

#grid-pagina > *{
    outline: 1px solid #9c003f;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}

#grid-pagina > figure{
    margin:0px;
}

#grid-pagina > img{
    width:100%;
    max-width: 300px;
    min-width: 100px;
}

#acasa{
    grid-area: acasa;
}

tabel{
    grid-area: tabel;
}

#calendar{
    grid-area: calendar;
}

#anunturi{
    grid-area: anunturi;
}

#utilizator{
    grid-area: utilizator;
}

#utilizatori-online{
    grid-area: utilizatori-online;
}

#info-server{
    grid-area: info-server;
}

#informatii_teoretice{
    grid-area: informatii_teoretice;
}

#produse{
    grid-area: produse;
}

#FAQ{
    grid-area: FAQ;
}

@keyframes animatie-link-top {
    100%{
        opacity: 1;
    }
}

#link-top{
    position:fixed;
    bottom: 1.5em;
    opacity:0.25;
    left: 1.5em;
    width:3rem;
    box-sizing: border-box;
    height:3rem;
    line-height:3rem;
    text-align:center;
    border:3px solid var(--culoare-background-inchisa);
    border-top-color:var(--culoare-inchisa);
    border-radius:2em;
}

#calendar > h2{
    justify-content: center;
    color: var(--culoare-inchisa);
}

th,td{
    font-weight: bold;
}

#calendar > table > thead{
    background-color: var(--culoare-inchisa);
    color: white;
}

#calendar > table > tbody{
    border-collapse: collapse;
    background-color: var(--culoare-background-deschisa);
    align-content: center;
    padding: 10px;
}

#calendar > table > td{
    align-content: center;
}

#link-top:hover{
    animation-name: animatie-link-top;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    transform: all 2s linear;
    box-shadow: 10px 10px 5px #AAAA;
}

embed{
    display: block;
    width: 100%;
    min-width: 150px;
}

#harta{
    width:100%;
    max-width: 300px;
    min-width: 100px;
}



#triunghi{
    text-decoration: none;
    color: var(--culoare-deschisa);
    font-weight: bold;
    font-size: 35px;
    justify-content: center;
    display:inline-block;
    vertical-align: top;
    transform: translateY(-10%);
}

math{
    --marime-font-mare: 25px;
    --marime-font-mica: 15px;
    font-size: var(--marime-font-principal);
}

mi{
    color: var(--culoare-deschisa);
}

msub > mn{
    font-style: italic;
    color: var(--culoare-inchisa);
    font-size: var(--marime-font-mica);
}

b{
    color: var(--culoare-inchisa);
}

.container-iframe{  
    width: 60%;
    max-width: 500px;
    min-width: 200px;
    display:flex;
    flex-direction: row;
    border: 2px solid var(--culoare-border-inchisa);
    border-radius: 10px;
    background-color: var(--culoare-background);
    position: relative;
    padding: 10px;
    margin-bottom: 50px;
    justify-content: right;
    z-index: -1;
}

.container-iframe > iframe{
    width:100%;
    height:300px;
    border: none;
    border-radius:10px;
    z-index: -1;
}

.taburi-iframe > a{
    display: block;
    padding: 8px 15px;
    border: 2px solid var(--culoare-border-deschisa);
    border-top: none;
    border-radius:  0 0 10px 10px;
    background-color: var(--culoare-background-deschisa);
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    color: var(--culoare-inchisa);
    font-weight: bold;
}

.taburi-iframe > a:hover{
    animation-name: tab-iframe-a;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

@keyframes tab-iframe-a{
    100%{
        background-color: var(--culoare-inchisa);
        color: var(--culoare-background-deschisa);
    }
} 

.taburi-iframe{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: var(--spatiere-gridplus1000);
    position: absolute;
    bottom: -35px;
    
}

container-iframe{
    width: 60%;
    max-width: 500px;
    min-width: 200xp;
    display: flex;
    flex-direction: row-reverse;
    
}

container-iframe > iframe{
    width: 100%;
}

footer{
    background: var(--culoare-background-inchisa);
    border-radius: 5px 5px;
}

@media screen and (max-width:1000px){
    html{
        font-size: 14px;
    }
    #grid-pagina{
        width: 100%;
        gap: var(--spatiere-grid1000);
        display:block;
    }
    #grid-pagina img{
        width: 75%;
        max-width: 200px;
        min-width: 75px;
    }
    body{
        --spatiere-pagina: 50px;
    }
}

@media screen and (max-width: 700px){
    html{
        font-size: 10px;
    }
    #grid-pagina{
        gap: var(--spatiere-grid700);
        display: block;
    }
    #grid-pagina img{
        width: 100%;
        max-width: 150px;
        min-width: 50px;
    }
    body{
        --spatiere-pagina: 20px;
    }

    #link-top{
        display: none;
    }
}

