#grid-pagina{
    display:grid;

    grid-template-areas: "acasa                acasa                acasa"
                         "calendar             tabel                anunturi"
                         "utilizatori-online   tabel                anunturi"
                         "utilizatori-online   utilizator           info-server"
                         "informatii_teoretice informatii_teoretice informatii_teoretice"
                         "produse              produse              produse"
                         "FAQ                  FAQ                  FAQ";

    row-gap: 30px;
    column-gap: 30px;

}



header{
    background-color: #CCCCCC;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #CCCCCC;
}

html{
    font-size: 18px;
}

#arduino_img{
    max-width: 1000px;
    min-width: 100px;
}

body{
    --spatiere: 80px;
    --culoare-inchisa: #9C003F;
    --culoare-deschisa: #009C09;
    --culoare-border-deschisa: #9C6E00;
    --culoare-border-inchisa: #002F9C;
    --culoare-background: #EEEEEE;
}

main{
    padding-left: var(--spatiere);
    padding-right: var(--spatiere);
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 1.2rem;
}

#grid-pagina > *{
    outline: 1px solid #9c003f;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}

#grid-pagina > figure{
    margin:0px;
}

#grid-pagina > img{
    width:100%;
    max-width: 300px;
    min-width: 100px;
}

#acasa{
    grid-area: acasa;
}

tabel{
    grid-area: tabel;
}

#calendar{
    grid-area: calendar;
}

#anunturi{
    grid-area: anunturi;
}

#utilizator{
    grid-area: utilizator;
}

#utilizatori-online{
    grid-area: utilizatori-online;
}

#info-server{
    grid-area: info-server;
}

#informatii_teoretice{
    grid-area: informatii_teoretice;
}

#produse{
    grid-area: produse;
}

#FAQ{
    grid-area: FAQ;
}

#link-top{
  position:fixed;
  bottom:0.3em;
  opacity:0.5;
  left:0.3em;
  width:3rem;
  box-sizing: border-box;
  height:3rem;
  line-height:3rem;
  text-align:center;
  border:4px solid var(--culoare-inchisa);
  border-top-color:var(--culoare-deschisa);
  border-radius:50%;
}

#link-top:hover{
    opacity:1;
    box-shadow: #DDDDDD;
    transform: all .5s linear;

}

#triunghi{
    text-decoration: none;
    color: var(--culoare-deschisa);
    font-weight: bold;
    font-size: 40px;
    justify-content: center;
    display:inline-block;
    vertical-align: top;
    transform: translateY(-10%);
}

#container-iframe{
    width: 60%;
    max-width: 500px;
    min-width: 200px;
    display:flex;
    flex-direction: column-reverse;
}

#container-iframe > iframe{
    width:100%;
}

#taburi-iframe{
    display:flex;
    justify-content: center;
}

#taburi-iframe > a{
    width: 100px;
    height: 50px;
    display: block;
    border: 1px solid var(--culoare-border-inchisa);
    background: var(--culoare-inchisa); 
}

@media screen and (max-width:1200px){
    html{
        font-size: 14px;
    }
    body{
        --spatiere: 50px;
    }
}

@media screen and (max-width: 800px){
    html{
        font-size: 10px;
    }
    nody{
        --spatiere: 20px;
    }
}
