nav{
    font-family: "Doto" sans-serif;
    font-weight: 900;
    background-color: var(--culoare-inchisa);
    --inaltime-meniu: 35px;
    --latime-buton: 25%;
    --raza-border: 10px;
    height: var(--inaltime-meniu);
    /* border-radius: var(--raza-border); */
    position: sticky;
    top: 0;
    
}

.doto-font {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "ROND" 100;
}

#hamburger, #ch-menu{
    display: none;
}

ul.meniu ul{
    font-family: "Doto";
    display: none;
    padding: 0;
    background-color: var(--culoare-deschisa);
    width: 100%;
    /* border-radius: var(--raza-border); */
}

ul.meniu ul > li{
    width: 100%;
}

ul.meniu{
    font-family: 'Doto';
    display: flex;
    list-style-type: none;
    padding: 0;
    /* border-radius: var(--raza-border); */
}

ul.meniu li{
    width: var(--latime-buton);
    height: var(--inaltime-meniu);
    /* border: 1px solid var(--culoare-inchisa); */
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    line-height: var(--inaltime-meniu);
    transition: all 0.1s linear;
    list-style-type: none;
}

ul.meniu a,ul.meniu div{
    color: #EEEEEE;
    text-decoration: none;
    transition: all .1s linear;
    display: block;
    height: 100%;
}

ul.meniu li:hover a,ul.meniu li:hover div{
    color:#FFFFFF;
    text-decoration: none;
    transform: all .1s linear;
    display: block;
    height:100;
}

ul.meniu li:hover ul{
    display: block;
}

ul.meniu li:hover{
    background-color: #009C09;
    display:block;
    position:relative;
}


@media screen and (max-width: 700px) {
    
    ul.meniu{
        display: none;
    }

}