nav{
    background-color: var(--culoare-inchisa);
    --inaltime-meniu: 40px;
    --latime-buton: 25%;
    --raza-border: 10px;
    height: var(--inaltime-meniu);
    border-radius: var(--raza-border);
    top: 10;
    bottom: 100;
}

.doto-font {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "ROND" 100;
}

#hamburger, #ch-menu{
    display: none;
}

ul.meniu ul{
    font-family: "Doto";
    display: none;
    padding: 0;
    background-color: var(--culoare-deschisa);
    border-radius: var(--raza-border);
}

ul.meniu{
    font-family: 'Doto';
    display: flex;
    list-style-type: none;
    padding: 0;
    border-radius: var(--raza-border);
}

ul.meniu li{
    width: var(--latime-buton);
    height: var(--inaltime-meniu);
    border: 1px solid var(--culoare-inchisa);
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    line-height: var(--inaltime-meniu);
    transition: all 0.1s linear;
}

ul.meniu a,ul.meniu div{
    color: #EEEEEE;
    text-decoration: none;
    transition: all .1s linear;
    display: block;
    height: 100%;
}

ul.meniu li:hover a,ul.meniu li:hover div{
    color:#FFFFFF;
    text-decoration: none;
    transform: all .1s linear;
    display: block;
    height:100;
}

ul.meniu li:hover ul{
    display: block;
}

ul.meniu li:hover{
    background-color: #009C09;
    display:block;
    position:relative;
}