nav{
    --latime-buton: 100%;
}

ul.meniu{
    background-color:var(--culoare-inchisa-meniu);
    display:none;
}

#ch-menu{
    display:none;
}

#hamburger{
    display: block;
    width: 30px;
    height: 30px;
    background-color: var(--culoare-inchisa-meniu);
    cursor: pointer;

}

#hamburger > span{
    height: 5px;
    width: 30px;
    color: white;
}

#ch-menu:checked + ul.meniu