nav{
    --latime-buton:20%;
}

ul.meniu div.text-icon{
    display: none;
}

#ch-menu{
    display:none;
}

#hamburger{
    display:none;
}

#acasa{
    display:block;
}

ul.meniu i{
    display:block;

    z-index: 10;
}