
ul.meniu{
    background-color:var(--culoare-inchisa-meniu);
    display:none;
}

nav{
    --latime-buton: 100%;
    background: white;
}

#ch-menu{
    display:none;
}

#hamburger > div > span{
    display: block;
    flex-direction: row;
    margin: 5px;
    width: 30px;
    height: 5px;
    background-color: white;
    border-radius:5px;
}

#hamburger > div{
    position: absolute;
    justify-content: center;
    vertical-align: center;
}

#hamburger{
    display: block !important;
    width: var(--inaltime-buton);
    height: var(--inaltime-buton);
    background-color: var(--culoare-inchisa-meniu);
    cursor: pointer;
    padding: 0;
    margin: 0;
}

ul.meniu a{
    font-size: medium;
}

#ch-menu:checked + ul.meniu li:hover > a{
    transform: scale(1.25);
    transition: 0.1s linear;
    box-shadow:none;
}

#ch-menu:checked + ul.meniu{
    display:block;
    font-size: medium;
    animation-name:animatie_meniu_ecran_mic;
    animation-direction:normal;
    animation-duration: 0.25s;
    animation-fill-mode:forwards;
    animation-iteration-count: 1;
}

@keyframes animatie_meniu_ecran_mic {
    0%{
        transform: scaleX(0);
        transform-origin: 0 0;
    }
    100%{
        transform: scaleX(1);
        transform-origin: 0 0;

    }
}