@media print{

    p#banner{
        display:block;
        margin-top: 10px;
        height: 20px;
        text-align: center;
        background: #eee;
        width: 80%;
        padding: 10%;
        justify-content: center;
        border: dotted #000000;
    }

    p#watermark{
        display: block;
        position:fixed;
        top:80%;
        left:5%;
        width: 100px;
        padding: 10px;
        border: 10px double #000000;
        opacity: 0.65;
        background: white;
    }

    @media screen{
        #banner{
            display:none;
        }
    }

    #container-iframe div{
        display: none;
    }

    #grid-pagina{
        display:block;
    }

    #link-top{
        display: none;
    }

    nav{
        display:none;
    }

    #site-name{
        position: relative;
        top:100px;
        break-after: always;
        vertical-align: bottom;
        justify-content: center;
    }

    footer{
        break-before: always;
    }

    h1{
        font-size: 5em;
        text-decoration: underline;
    }



    img,
    embed,
    video,
    iframe,
    #container-iframe,
    #taburi-iframe,
    figure,
    figcaption{
        display: none;
    }

    a{
        text-decoration: none;
        color: black;
    }

    @page{
        size: A4;
    }

    @page:left{
        margin-left: 2.5cm !important;
        margin-right: 0.5cm !important;
    }

    @page:right{
        margin-left: 0.5cm !important;
        margin-right: 2.5cm !important;
    }

}