<title>Electronet</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- va fi explicat când ajungem la CSS -->
<meta name="keywords" content="electronica, circuit, componente electronice"><!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
<meta name="description" content="Magazinul TAU de electronice!"><!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->
<meta name="author" content="Matei Haisan">  <!-- autorul/autoarea paginii-->
<link rel="icon" type="image/png" href="/resurse/imagini/favicon/favicon-96x96.png?" sizes="96x96" >
<link rel="icon" type="image/svg+xml" href="/resurse/imagini/favicon/favicon.svg?" >
<link rel="shortcut icon" href="/resurse/imagini/favicon/favicon.ico?" >
<link rel="apple-touch-icon" sizes="180x180" href="/resurse/imagini/favicon/apple-touch-icon.png?" >
<link rel="manifest" href="/resurse/imagini/favicon/site.webmanifest?" >
<link rel="stylesheet" href="/resurse/css/general.css">
<link href="https://fonts.googleapis.com">
<link href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
<link href="https://fonts.googleapis.com/css2?family=Doto:wght,ROND@800,100&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&display=swap" rel="stylesheet">
<!-- <link rel="stylesheet" href="/resurse/css/nav_1.css"> -->
<link rel="stylesheet" href="/resurse/css/nav.css">
<link rel="stylesheet" media="screen and (max-width:1000px)" href="/resurse/css/nav_1000.css">
<link rel="stylesheet" media="screen and (max-width:700px)" href="/resurse/css/nav_700.css">
<link rel="stylesheet" href="/resurse/css/print.css" media="print">