<header>
            <p id="watermark">Haisan Matei</p>
            <p id="banner">Acesta este un proiect școlar!</p>
            <h1 id="site-name" style="color:#9c003f">Electronet</h1>
        </header>
        <nav> <!-- Task 1.6-->
            <label id="hamburger" for="ch-menu">
                <img src="/resurse/imagini/img/Hamburger_icon_alb.png" alt="hamburger">
            </label>
            <input id="ch-menu" type="checkbox">
            <ul class="meniu">
                <li>
                    <a id="acasa" href="#">Acasa</a>
                    </li>
                <li><a href = "#informatii_teoretice">Teorie</a>
                    <ul>
                        <li><a class="submeniu"href="#clipuri">Videoclipuri</a></li>
                        <li><a class="submeniu"href="#formule">Formule</a></li>
                    </ul>
                </li>
                <li><a href="#produse">Produse</a>
                    <ul>
                        <li><a class="submeniu"href="#rezistoare">Rezistoare</a></li>
                        <li><a class="submeniu"href="#condensatoare">Condensatoare</a></li>
                        <li><a class="submeniu"href="#inductori">Inductori</a></li>
                    </ul>
                </li>
                <li><a href="#despre">FAQ</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>