<header>
        <h1 style="color:#9c003f">Electronet</h1>
    </header>
    <nav> <!-- Task 1.6-->
        <ul class="meniu">
            <li><a href = "#acasa">Acasa</a></li>
            <li><a href = "#informatii_teoretice">Informatii teoretice de ajutor:</a>
                <ul>
                    <li><a href="#clipuri">Clipuri</a></li>
                    <li><a href="#formule">Formule</a></li>
                </ul>
            <li><a href="#FAQ">FAQ</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    