<header>
        <h1 style="color:#9c003f">Electronet</h1>
    </header>
    <nav> <!-- Task 1.6-->
        <ul class="meniu">
            <li><a href = "/index#acasa">Acasa</a></li>
            <li><a href = "/index#informatii_teoretice">Informatii teoretice de ajutor:</a>
                <ul>
                    <li><a href="/index#clipuri">Clipuri</a></li>
                    <li><a href="/index#formule">Formule</a></li>
                </ul>
            </li>
            <li><div></div>
                <ul>
                    <li><a href="/index#produse">Toate</a></li>                
                    <li><a href="/produse?tip=rezistor"></a></li>
                    <li><a href="/produse?tip=condensator"></a></li>
                    <li><a href="/produse?tip=tranzistor"></a></li>
                </ul>
            </li>            
            <li><a href="/despre#FAQ">FAQ</a></li>
            <li><a href="/despre#contact">Contact</a></li>
        </ul>
    </nav>
    